<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Instrumentation launches the fixture directly; the test build must
             not appear as a second Hub icon in the Pocket DS launcher. -->
        <activity android:name="com.pocketds.hub.HubActivity">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pocketds.hub.ui.DetailFixtureActivity"
            android:exported="false" android:screenOrientation="landscape" />
        <activity android:name="com.pocketds.hub.ui.ReaderFixtureActivity"
            android:exported="false" android:screenOrientation="landscape" />
    </application>
</manifest>
